<div *ngIf="errorMessage" style="color: red;">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="universities.length > 0">
  <h3>Search results for "{{ receivedMessage }}"</h3>
  <button (click)="resetData()">Reset</button>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>№</th>
        <th>Country</th>
        <th>Name</th>
        <th>Web page</th>
        <th>Domain</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uni of universities; let i = index">
        <td>
          <input type="checkbox" [(ngModel)]="uni.selected">
        </td>
        <td>{{ i + 1 }}</td>
        <td>{{ uni.country }}</td>
        <td>{{ uni.name }}</td>
        <td>
            <a [href]="uni.web_pages[0]" target="_blank">{{uni.web_pages[0]}}</a>       
        </td>
        <td>
           <p>{{uni.domains[0]}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="universities.length === 0 && !errorMessage">
  <p>No universities have been found</p>
</div>